<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/hamilton">Hamilton</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Margaret Hamilton</h1>
            <article>
                 <p>
                    Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.​ Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.
                 </p>
            </article>
        </section>
        <aside>
            <img src="/img/Margaret_Hamilton.jpg" alt="Margaret Hamilton image">
        </aside>
    </main>
    <footer>
        <section>
            <ul>
                <li>

                </li>
            </ul>
        </section>
    </footer>
</body>

</html>