<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/hopper">Hopper</a>
                    <a href="/clarke">Clarke</a>
                    <a href="/berners-lee">Berners-Lee</a>
                    <a href="/babbage">Babbage</a>
                    <a href="/turing">Turing</a>
                    <a href="/hamilton">Hamilton</a>
                    <a href="/lovelace">Lovelace</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Grace Murray Hopper</h1>
            <article>
                 <p>
                    La informática Grace Murray Hopper (1906-1992) nació un 9 de diciembre. Pionera en el mundo de las ciencias de la computación, fue la primera programadora en utilizar el ordenador Mark I.
                    Fue la responsable del primer compilador (1951) y del lenguaje COBOL (1957). Cuando EEUU entró en la segunda guerra mundial, Grace abandonó su profesión de profesora de matemáticas e ingresó en la armada donde llegó a ser contralmirante. Se dedicaba a tareas de computación y fue la primera programadora en utilizar el ordenador Mark I., primer ordenador de gran capacidad.
                 </p>
            </article>
        </section>
        <aside>
            <img src="/img/grace_hopper.jpg" alt="Grace Hopper image">
        </aside>
    </main>
    <footer>
        <section>
            <ul>
                <li>

                </li>
            </ul>
        </section>
    </footer>
</body>

</html>