<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/turing">Turing</a>
                    <a href="/hamilton">Hamilton</a>
                    <a href="/lovelace">Lovelace</a>
                    <a href="/hopper">Hopper</a>
                    <a href="/clarke">Clarke</a>
                    <a href="/berners-lee">Berners-Lee</a>
                    <a href="/babbage">Babbage</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenidos a Los Héroes de Digital House</h1>
</body>
</html>