<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/turing">Turing</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Alan Turing</h1>
            <article>
                 <p>
                    Alan Mathison Turing nació el 23 de junio de 1912 en el barrio de Paddington, Londres. Su familia era de clase media alta. Fue el segundo hijo de Julius y Sara, que permanecieron en la India durante varios años, por lo que pasó la infancia con su hermano mayor John.Fue famoso por descifrar el código nazi en la Segunda Guerra Mundial y pionero en otras ramas como la biología y la inteligencia artificial, cuya contribución es imprescindible en el desarrollo de las tecnologías actuales. Lo recordamos a 108 años de su nacimiento.
                    Fue famoso por descifrar el código nazi en la Segunda Guerra Mundial y pionero en otras ramas como la biología y la inteligencia artificial, cuya contribución es imprescindible en el desarrollo de las tecnologías actuales. Lo recordamos a 108 años de su nacimiento.
                 </p>
            </article>
        </section>
        <aside>
            <img src="/img/alan-turing_51cdd2da.jpg" alt="Alan Turing image">
        </aside>
    </main>
    <footer>
        <section>
            <ul>
                <li>

                </li>
            </ul>
        </section>
    </footer>
</body>

</html>